In [1]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("examples/ex1.csv")
df

In [ ]:
# 分配默认的列名
df = pd.read_csv("examples/ex2.csv", header=None)
df

In [ ]:
df = pd.read_csv("examples/ex2.csv", names=['a','b','c','d','message'])
df

In [ ]:
names = ['a', 'b', 'c', 'd', 'message']
pd.read_csv('examples/ex2.csv', names=names, index_col='message')

In [ ]:
parsed = pd.read_csv("examples/csv_mindex.csv", index_col=["key1", "key2"])
parsed

In [ ]:
# 跳过某些行
pd.read_csv('examples/ex4.csv', skiprows=[0, 2, 3])

In [2]:
result = pd.read_csv("examples/ex6.csv")
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [3]:
pd.read_csv('examples/ex6.csv', nrows=5)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [5]:
chunker = pd.read_csv("examples/ex6.csv", chunksize=1000)

In [6]:
tot = pd.Series([])
for piece in chunker:
    tot = tot.add(piece['key'].value_counts(), fill_value=0)

tot = tot.sort_values(ascending=False)

In [7]:
tot.head()

key
E    368
X    364
L    346
O    343
Q    340
dtype: object