In [1]:
import numpy as np
import pandas as pd

In [6]:
float_data = pd.Series([1.2, -3.5, np.nan, 0])
float_data

0    1.2
1   -3.5
2    NaN
3    0.0
dtype: float64

In [7]:
float_data.isna()

0    False
1    False
2     True
3    False
dtype: bool

In [8]:
string_data = pd.Series(["aardvark", np.nan, None, "avocado"])
string_data

0    aardvark
1         NaN
2        None
3     avocado
dtype: object

In [9]:
string_data.isna()

0    False
1     True
2     True
3    False
dtype: bool

In [10]:
# Series 中间
data = pd.Series([1, np.nan, 3.5, np.nan, 7])

In [11]:
data.dropna()

0    1.0
2    3.5
4    7.0
dtype: float64

In [12]:
data[data.notna()]

0    1.0
2    3.5
4    7.0
dtype: float64

In [13]:
data = pd.DataFrame([[1., 6.5, 3.], [1., np.nan, np.nan],
                     [np.nan, np.nan, np.nan], [np.nan, 6.5, 3.]])

data

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [14]:
# 默认情况下返回一个新的值
# 默认zai row 上面操作，如果出现一个 NA 就删除整行
data.dropna()

     0    1    2
0  1.0  6.5  3.0

In [15]:
# how="all" 整行均为 na 才进行删除
data.dropna(how="all")

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.5  3.0

In [16]:
data[4] = np.nan
data

     0    1    2   4
0  1.0  6.5  3.0 NaN
1  1.0  NaN  NaN NaN
2  NaN  NaN  NaN NaN
3  NaN  6.5  3.0 NaN

In [17]:
# axis 指定按列删除还是按行删除
data.dropna(axis="columns", how="all")

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [18]:
df = pd.DataFrame(np.random.standard_normal((7, 3)))
df.iloc[:4, 1] = np.nan
df.iloc[:2, 2] = np.nan

df

          0         1         2
0  0.294826       NaN       NaN
1  0.216097       NaN       NaN
2  0.845948       NaN  0.666687
3 -0.461409       NaN -1.121572
4 -1.543631  2.002310 -0.737426
5 -0.274940  0.991732 -0.510105
6  1.443345 -0.890981  0.401175

In [19]:
df.dropna()

          0         1         2
4 -1.543631  2.002310 -0.737426
5 -0.274940  0.991732 -0.510105
6  1.443345 -0.890981  0.401175

In [21]:
df.dropna(thresh=2)

          0         1         2
2  0.845948       NaN  0.666687
3 -0.461409       NaN -1.121572
4 -1.543631  2.002310 -0.737426
5 -0.274940  0.991732 -0.510105
6  1.443345 -0.890981  0.401175

In [22]:
df = pd.DataFrame(np.random.standard_normal((6, 3)))
df.iloc[2:, 1] = np.nan
df.iloc[4:, 2] = np.nan
df

          0         1         2
0 -0.407945 -0.222454  0.145459
1  0.171569  0.627402 -1.048768
2  0.789714       NaN  1.277015
3  0.388603       NaN -1.841009
4 -1.418129       NaN       NaN
5 -0.312615       NaN       NaN

In [23]:
df.fillna(method="ffill")

          0         1         2
0 -0.407945 -0.222454  0.145459
1  0.171569  0.627402 -1.048768
2  0.789714  0.627402  1.277015
3  0.388603  0.627402 -1.841009
4 -1.418129  0.627402 -1.841009
5 -0.312615  0.627402 -1.841009

In [24]:
# 只是先后填充 2 位
df.fillna(method="ffill", limit=2)

          0         1         2
0 -0.407945 -0.222454  0.145459
1  0.171569  0.627402 -1.048768
2  0.789714  0.627402  1.277015
3  0.388603  0.627402 -1.841009
4 -1.418129       NaN -1.841009
5 -0.312615       NaN -1.841009